@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

body {
	background-color: #E7EFEF;
	font-family: Roboto, sans-serif;
}

header {
	background-color: #fff;
	width: 100%;
	height: 60px;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 1px 6px 15px -8px black;
}

header > div {
	width: 30px;
	height: 20px;
	margin-top: 13px;
}

/*HOME logo*/

header div:nth-child(1) {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	color: #18ADDE;
	font-weight: bold;
	border: none;
	margin-left: 10px;
}

/*LOGOUT button*/
header div:nth-child(3) {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 200px;
	border: none;
}


/*************COVER PHOTO***************/
.coverphotocontainer {
	height: 200px;
	margin-top: 60px;
	width: 100% auto;
	padding: 0;
	/* border: 2px solid black; */
	background-color: #C4C5C6;
}

.coverbar {
	width: 100% auto;
	height: 80px;
	/* border: 2px solid blue; */
	background-color: #fff;
	box-shadow: 1px 6px 15px -8px black;
}

.coverBarContents {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.coverProfilePhoto { /*large profile picture in the banner*/
	/*content: url("../img/profilelarge.png");*/
	margin-top: -50px;
	margin-left: 120px;
}

.coverMeta {
	display: flex;
	flex-direction: row;
}

.columnMeta {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.personalInfo {
	height: 250px;
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
}

.personalInfoIcons {
	height: 20px;
	margin-top: 14px;
}

.personalInfodata {
	margin-left: 10px;
	color: #828282;
	font-size: 15px;
}

.photosAndVideoscontainer {
	display: flex;
	flex-direction: column;
	/* border: 2px solid blue; */
	padding: 5px;
	background-color: #fff;
	border-radius: 10px;
}

.photosAndVideos {
	display: flex;
	flex-direction: row;
	height: 280px;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
}

.mediaSquare {
	width: 75px;
	height: 75px;
	background-color: #CACBCC;
	/* border: 1px solid black; */
	margin: 5px;
	margin-top: 10px;
	border-radius: 5px;
}

#rightcontainerFollowing {
	width: 700px;
	margin-left: 30px;
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: column;
}

.followingCardsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.followingCards {
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 10px;
	/* border: 2px solid black; */
	padding: 5px;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow: 5px 8px 15px -9px black;
}

.followingCardsBanner {
	border-radius: 10px;
}

.followingCardsBanner img {
	border-radius: 10px;
	width: 100%;
	height: 80px;
}

.profilepic {
	display: flex;
	flex-direction: row;
}

.profilepic img {
	width: 35px;
	height: 35px;
}

.cardMeta {
	display: flex;
	flex-wrap: wrap;
}

.userMeta {
	display: flex;
	flex-direction: column;
}

.userBio {
	margin-top: 20px;
	color: #828282;
	margin-left: 5px;
}

.userMeta span:nth-child(1) {
	font-weight: bold;
	margin-left: 5px;
}

.cardMeta span:nth-child(1) {
	font-size: 16px;
}

.cardMeta span:nth-child(2) {
	color: #828282;
	margin-left: 5px;
}

.biodata {
	display: inline-block;
	margin-left: -80px;
	margin-top: 15px;
	color: #828282;
}

.followingSearchStyle {
	width: 90%;
	height: 30px;
	border-style: none;
	background-color: #F5F7F9;
	border-radius: 15px;
}

.bannerMeta {
	font-size: 15px;
	color: #8C8C8C;
}

.bannerMetaNumbers {
	font-size: 20px;
	color: #8C8C8C;
	font-weight: bold;
}

/***********************************************************/

.container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
  	align-items: flex-start;
}

.leftcontainer {
	width: 280px;
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: column;
}


.rightcontainer {
	width: 700px;
	margin-left: 30px;
	/* border: 2px solid green; */
	display: none;
	flex-direction: column;
}

/* .lefttop {
	height: 240px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	/* border: 2px solid blue;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 7px 10px -7px black;
}
*/
.lefttop div {
	/* border: 2px solid black; */
}

.banner {
	background-color: lightgrey;
	height: 120px;
	border-radius: 15px;
}

.leftmid {
	
	/*border: 2px solid yellow; */
	display: flex;
	flex-direction: column;
	padding: 6px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 7px 10px -7px black;
}

.leftbottom {
	height: 70px;
	/* border: 2px solid green; */
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	color: #828282;
	font-size: 15px;
	box-shadow: 0 7px 10px -7px black;
}

.profilepic img {
	margin-top: -20px;
}

.followingInfo {
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;
	padding: 5px;
	margin-top: -30px;
}


.followingInfo div {
	color: grey;
}

.followingInfo span:nth-child(2) {
	font-weight: bold;
	color: #1F5C78;
}

.leftmidmid {
	flex-direction: column;
	/* border: 2px solid black; */
	margin-top: 5px;
}

.leftmidmidfooter {
	text-align: center;
	border-top: 1px solid lightgrey;
	font-size: 15px;
	padding-top: 8px;
}

.ppimage {
	content: url("../img/rightprofile.png");
}

.smallicons div {
	
}

.smallicons > .ppimage {
	margin-top: 10px;
}

.smallicons {
	display: flex;
	flex-direction: row;
	/* border: 1px solid black;*/
	border-top: 1px solid lightgrey;
	align-items: flex-start;
	padding: 5px;
}

.whatshappening {
	display: flex;
	flex-wrap: wrap;
  	align-items: flex-start;	
  	flex-direction: row;
  	/* border: 1px solid black; */
  	padding: 10px;
  	background-color: #fff;
  	border-radius: 5px;
  	box-shadow: 0 7px 10px -9px black;
}

.tweetTextBox {
	width: 600px;
	margin-top: 2px;
	margin-left: 15px;
	height: 20px;
	border-radius: 15px;
	border: none;
	padding: 5px;
	background-color: #E1E8ED;
	color: #828282;
	padding-left: 25px;
}

.tweetbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rightbottom {
	display: flex;
	flex-direction: column;
	/*border: 2px solid red;*/
	margin-top: 15px;
	box-shadow: 0 7px 10px -9px black;
}

.indposts {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	/* border: 1px solid yellow; */
	border-bottom: 1px solid lightgrey;
	padding: 10px;
	background-color: #fff;
}

.namehandle {
	color: #828282;

}

.namehandle span:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	margin-left: 15px;
}

/*
.namehandle span:nth-child(4) {
	content: url(../img/downarrow.svg);
	width: 20px;
	margin-left: 350px;
	cursor: pointer;
}
*/

.postcontent {
	display: flex;
	flex-direction: column;
}

.tweetbody {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	padding: 5px 0 5px 0;
}

.tweetbodyMedia {
	margin: 3px;
	margin-left: 0;
}

.postInteractions {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	align-items: flex-start;
	margin-left: 15px;
	margin-top: 15px;
	padding: 0;
}

.comments {
	display: flex;
}

.comments span {
	padding-left: 5px;
	color: #828282;
}

.likes {
	margin-left: 40px;
	display: flex;
}

.likes span {
	padding-left: 5px;
	color: #828282;
}

.retweets {
	margin-left: 40px;
	display: flex;
}

.retweets span {
	padding-left: 5px;
	color: #828282;
}
.playicon {
	transform: translate(-350%, -150%);
}

#username {
	font-weight: bold;
	padding-left: 10px;
}

#handle {
	font-size: 13px;
	color: #928482;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-color: rgb(0,0,0,0.6);
}

.modalContent {
	height: 80vh;
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
}

.modalContent {
	display: flex;
	flex-direction: column;
	position: relative;
}

.modalContent > div > span:nth-child(1) {
	font-size: 30px;
	font-weight: bold;
}

.modalContent > div > span:nth-child(2) {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	color: #32CD32;
}

#editProfileForm div:nth-child(8) button {
	height: 40px;
	width: 150px;
	margin: 10px;
}

#editProfileForm div:nth-child(8) button:nth-child(1) {
	border: 2px solid #1dcaff;
	background-color: #fff;
	color: #1dcaff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px;
	cursor: pointer;
}

#editProfileForm div:nth-child(8) button:nth-child(1):hover {
	background-color: #eaf5fd;
}

#editProfileForm div:nth-child(8) button:nth-child(2):hover {
	background-color: #006dbf;
}

#editProfileForm div:nth-child(8) button:nth-child(2) {
	border: none;
	background-color: #1dcaff;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px; 
	cursor: pointer;
}

#editProfileForm {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 30px;
}

.editProfileInput {
	border-radius: 20px;
	border-style: none;
	background-color: #f2f2f2f2;
	padding: 10px;
	margin-top: 5px;
	
}

#smallFollowButton {
	width: 90px;
	margin-left: 15px;
	cursor: pointer;
	height: 25px;
	border: 1px solid #18ADDE;
	background-color: #fff;
	color: #18ADDE;
	border-radius: 12px;
	font-weight: bold;
	margin-top: 10px;
	font-size: 14px;
	margin-top: 10px;
}

#smallFollowButton:hover {
	background-color: #1dcaff;
	color: #fff;
	border: #1dcaff;
}

.logoutButton {
	margin-top: 2px;
	margin-left: 20px;
	height: 30px;
	width: 100px;
	padding-bottom: 2px;
	background-color: #fff;
	border: 2px solid #828282;
	color: #828282;
	font-size: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.logoutButton:hover {
	background-color: #E1E8ED;
}

#rightcontainerFollowers {
	/*border: 2px solid black; */
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}

.followersCardsContainer {
	width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.followers {
	width: 220px;
	height: 170px;
/*	border: 2px solid blue;*/
	background-color: #fff;
	margin-top: 20px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 5px 8px 15px -9px black;
}